<div class="modal fade" id="editProject" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectModalLabel">{{title}}: {{projectSeleccionado?.numeroCasa}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClose()"></button>
            </div>
            <div class="modal-body">
                <app-loading *ngIf="isLoading"></app-loading>
                <div class="container" *ngIf="!isLoading">
                    <form *ngIf="projectForm" class="form-horizontal form-material" [formGroup]="projectForm">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <label>numeroCasa <span class="required">*</span></label>
                                <input type="text" formControlName="numeroCasa" class="form-control" required>
                                <div *ngIf="projectForm.get('numeroCasa')?.touched" class="text-danger">
                                    <div *ngIf="projectForm.get('numeroCasa')?.errors?.['required']">
                                        Campo Requerido
                                    </div>
                                    <div *ngIf="projectForm.get('numeroCasa')?.errors?.['minlength']">
                                        Mínimo 3 Caracteres
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label>calleOBloque <span class="required">*</span></label>
                                <input type="text" formControlName="calleOBloque" class="form-control" required>
                                <div *ngIf="projectForm.get('calleOBloque')?.touched" class="text-danger">
                                    <div *ngIf="projectForm.get('calleOBloque')?.errors?.['required']">
                                        Campo Requerido
                                    </div>
                                    <div *ngIf="projectForm.get('calleOBloque')?.errors?.['minlength']">
                                        Mínimo 3 Caracteres
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-4 ">
                                <label>Empresa/Con.Residencial<span class="required">*</span></label>
                                <div class="input-group">
                                    <select class="form-control" formControlName="empresaId">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let data of empresas" [value]="data._id">
                                            {{data.nombre}}
                                        </option>
                                    </select>
                                    <div *ngIf="projectForm.get('empresaId')?.touched && projectForm.get('empresaId')?.errors?.['required']"
                                        class="text-danger">Campo Requerido</div>
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-4">
                                <button (click)="handleSubmit()" class="btn btn-outline-success">
                                    {{ projectSeleccionado ? 'Actualizar y Continuar' : 'Crear y Continuar' }}
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onClose()">Cerrar</button>
            </div>
        </div>
    </div>
</div>